html {
    box-sizing: border-box;
    font-size: 16px;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 2rem;
}
  
  ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body {
    width: 700px;
    font-family: 'League Gothic', sans-serif;
    

    
}



.header {
    height: 100px;
    width: 700px;
    padding-left: 50px;
    border: 2px, solid black;
    

}

.main{
    width: 700px;
    padding-left: 50px;
    background-color: rgb(251, 250, 246);
    padding-bottom: 200;

}

footer{
    width: 700px;
   
    padding-left: 240px;
}

h6{
    padding-left: 500px;
}

.img1{
    width: 55%;
    margin-left: 0px;
}

.img2{
margin-top: 0px;
padding-top: 30px;
}

.a2{
margin-left: 30px;
}
    
.a3{
 margin-left: 30px;
} 
.a4{
margin-left: 30px;
}       
.a5{
 margin-left: 30px;
}
.botom1, .botom2, .botom3{
    display: flexbox;
    background-color: rgb(252, 146, 7);
    text-decoration-line:none;
    border: 2px solid black;
}

.price1, .price2, .price3{
    margin-left: 70px;
    margin-top: -40px;
    width: 65px;
    display: block;
    background-color: rgb(233, 209, 157);
    border: 2px solid black;
}

.d1 {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: -50px;
    width: 700px;
    height: 400px;
}
.botom4{
    margin-left: 180px;
    display: flexbox;
    text-decoration-line:none;
    border: 2px solid black;
    font-size: smaller ;

}

.botom5{
 
    display: flexbox;
    text-decoration-line:none;
    border: 2px solid black;
    font-size: smaller ;   
}
.gif1 {
   width: 850px;
    margin-left: -40px;

}
.registration{
    width: 700px;
    margin-left: -85px;
    padding-left: 0px;
   text-align: right;
}

